{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}
{{form_start(form)}}
<div class="create-offer-content">
{{form_row(form.type)}}
{{form_row(form.save)}}
</div>
{{form_end(form)}}
</div>
{% endblock %}
