{% extends 'base.html.twig' %}

{% block title %}users Admin Dashboard{% endblock %}

{% block body %}

<div class="user-list">
    {% for user in users %}
        <p>{{user.pseudoUser}}</p>
    {% endfor %}
</div>

{% endblock %}
